# **SIG AIDA Data Science Workshop**
## _Structured Searching with SQL_

# Introduction
## What is SQL?

SQL stands for Structured Query Language. 

It is used mainly to interact with "Relational Database Systems" and is considered a "Query Language". This means that we ask SQL to do things like read from or write to tables.

In [1]:
#@title Please run this cell for setup!

import pandas as pd
import csv
import urllib.request
import sqlite3
from pprint import pprint


conn = sqlite3.connect('example.db')

c = conn.cursor()
c.execute("SELECT name FROM sqlite_master WHERE type='table'")
if len(c.fetchall()) > 0:
    c.execute("DROP TABLE IF EXISTS uber")
    c.execute("DROP TABLE IF EXISTS gpa")

uber_url = "https://raw.githubusercontent.com/fivethirtyeight/uber-tlc-foil-response/master/Uber-Jan-Feb-FOIL.csv"
uber_data = pd.read_csv(uber_url, index_col=0)
uber_data.to_sql('uber', conn)

gpa_url = "https://raw.githubusercontent.com/wadefagen/datasets/master/gpa/uiuc-gpa-dataset.csv"
gpa_data = pd.read_csv(gpa_url, index_col=0)
gpa_data.to_sql('gpa', conn)

def run_query(query):
    return pd.read_sql_query(query, conn)

print("Setup Complete!")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

Setup Complete!

In [2]:
# How to query the DB: a simple get
query = """
           SELECT *
           FROM uber 
           WHERE date == '1/1/2015';
        """
run_query(query)

  dispatching_base_number      date  active_vehicles  trips
0                  B02512  1/1/2015              190   1132
1                  B02765  1/1/2015              225   1765
2                  B02764  1/1/2015             3427  29421
3                  B02682  1/1/2015              945   7679
4                  B02617  1/1/2015             1228   9537
5                  B02598  1/1/2015              870   6903

## What did that do?

#### We got all rows from a table called _uber_ that had a corresponding date of January 1st, 2015

SQL is nice because you can sequentially read what you're telling it to do. Let's break down the query we asked SQL to execute above.

## Some basic keywords

### `SELECT`
We want SQL to _return_ things from a table.

What do you want from the table? A number? A list of rows?

In SQL, the asterisk * is a wildcard that essentially means "give me everything". In the example above, we told SQL to select every column of the rows that matched and return it to us.

You can also tell SQL to give you only the values for specific columns (see example below)

[W3 Schools tutorial](https://www.w3schools.com/sql/sql_select.asp)

### `FROM`

This tells SQL _where_ or _which table_ it should be looking to interact with.

You could be working with multiple tables in a single SQL query, SQL needs to know which one(s) to go to.

[W3 Schools tutorial](https://www.w3schools.com/sql/sql_from.asp)

In [3]:
query = """
           SELECT dispatching_base_number, date, active_vehicles
           FROM uber;
        """
run_query(query)

    dispatching_base_number       date  active_vehicles
0                    B02512   1/1/2015              190
1                    B02765   1/1/2015              225
2                    B02764   1/1/2015             3427
3                    B02682   1/1/2015              945
4                    B02617   1/1/2015             1228
5                    B02598   1/1/2015              870
6                    B02598   1/2/2015              785
7                    B02617   1/2/2015             1137
8                    B02512   1/2/2015              175
9                    B02682   1/2/2015              890
10                   B02765   1/2/2015              196
11                   B02764   1/2/2015             3147
12                   B02765   1/3/2015              201
13                   B02617   1/3/2015             1188
14                   B02598   1/3/2015              818
15                   B02682   1/3/2015              915
16                   B02512   1/3/2015              173
17                   B02764   1/3/2015             3215
18                   B02512   1/4/2015              147
19                   B02682   1/4/2015              812
20                   B02598   1/4/2015              746
21                   B02765   1/4/2015              183
22                   B02617   1/4/2015             1088
23                   B02764   1/4/2015             2862
24                   B02512   1/5/2015              194
25                   B02682   1/5/2015              951
26                   B02617   1/5/2015             1218
27                   B02764   1/5/2015             3387
28                   B02598   1/5/2015              907
29                   B02765   1/5/2015              227
..                      ...        ...              ...
324                  B02764  2/24/2015             3965
325                  B02512  2/24/2015              247
326                  B02598  2/24/2015             1061
327                  B02682  2/24/2015             1346
328                  B02617  2/24/2015             1456
329                  B02765  2/24/2015              698
330                  B02512  2/25/2015              246
331                  B02598  2/25/2015             1076
332                  B02765  2/25/2015              706
333                  B02682  2/25/2015             1395
334                  B02617  2/25/2015             1473
335                  B02764  2/25/2015             3934
336                  B02598  2/26/2015             1134
337                  B02617  2/26/2015             1539
338                  B02682  2/26/2015             1465
339                  B02512  2/26/2015              243
340                  B02765  2/26/2015              745
341                  B02764  2/26/2015             4101
342                  B02765  2/27/2015              786
343                  B02617  2/27/2015             1551
344                  B02598  2/27/2015             1114
345                  B02512  2/27/2015              272
346                  B02764  2/27/2015             4253
347                  B02682  2/27/2015             1510
348                  B02598  2/28/2015              994
349                  B02764  2/28/2015             3952
350                  B02617  2/28/2015             1372
351                  B02682  2/28/2015             1386
352                  B02512  2/28/2015              230
353                  B02765  2/28/2015              747

[354 rows x 3 columns]

### `WHERE`
this tells SQL what _condition_ it should be looking to match in the rows.

It's not useful to get every single row in the table, most of the time we're looking for rows that pertain to some date or some person.

[W3 Schools tutorial](https://www.w3schools.com/sql/sql_where.asp)

In [4]:
query = """
           SELECT dispatching_base_number, date, active_vehicles
           FROM uber
           WHERE date == '2/21/2015';
        """
run_query(query)

  dispatching_base_number       date  active_vehicles
0                  B02598  2/21/2015             1044
1                  B02682  2/21/2015             1374
2                  B02765  2/21/2015              685
3                  B02617  2/21/2015             1443
4                  B02512  2/21/2015              238
5                  B02764  2/21/2015             3981

## Some more advanced keywords

In [5]:
# new dataset!
query = """
        SELECT *
        FROM gpa;
        """
run_query(query)

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,12,12,1,0,...,1,0,1,0,0,0,0,1,0,"Boonsripaisal, Simon"
1,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,5,12,4,1,...,1,2,0,0,0,0,0,1,0,"Boonsripaisal, Simon"
2,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,0,8,7,3,...,3,2,0,2,0,0,0,0,0,"Uhall, Michael B"
3,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,8,6,2,0,...,1,1,2,1,0,0,0,0,0,"Uhall, Michael B"
4,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,5,4,3,1,...,1,1,2,1,1,0,1,1,0,"Kang, Yoonjung"
5,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,3,6,2,1,...,0,3,2,0,0,0,0,3,0,"Kang, Yoonjung"
6,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,3,14,0,0,...,1,0,3,0,0,0,0,0,0,"Park, Doo Jae"
7,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,4,15,0,1,...,0,0,7,0,1,0,0,1,0,"Park, Doo Jae"
8,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,3,4,9,5,...,1,1,2,3,0,0,0,1,0,"Thomas, Merin A"
9,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,0,17,3,1,...,2,0,2,1,0,0,0,0,0,"Lee, Sang S"
10,2020,Spring,2020-sp,AAS,215,US Citizenship Comparatively,7,16,2,2,...,0,0,3,0,0,0,0,0,0,"Compoc, Kimberly M"
11,2020,Spring,2020-sp,AAS,258,Muslims in America,3,19,1,1,...,1,0,0,0,0,0,0,0,0,"Rana, Junaid"
12,2020,Spring,2020-sp,ABE,225,ABE Principles: Bioenvironment,1,8,2,7,...,1,1,1,0,0,2,0,1,1,"Zhang, Yuanhui"
13,2020,Spring,2020-sp,ABE,226,ABE Principles: Bioprocessing,2,7,11,6,...,7,1,2,0,0,0,0,0,0,"Singh, Vijay"
14,2020,Spring,2020-sp,ABE,425,Engrg Measurement Systems,5,22,5,6,...,0,0,1,0,0,0,0,0,0,"Grift, Tony E"
15,2020,Spring,2020-sp,ABE,469,Industry-Linked Design Project,4,14,7,4,...,1,0,2,0,0,0,0,0,0,"Witmer, Ann-Perry"
16,2020,Spring,2020-sp,ACCY,200,Fundamentals of Accounting,11,61,54,36,...,45,31,23,13,1,3,0,1,0,"Silhan, Peter A"
17,2020,Spring,2020-sp,ACCY,200,Fundamentals of Accounting,23,11,3,2,...,0,0,0,0,0,0,0,0,0,None
18,2020,Spring,2020-sp,ACCY,201,Accounting and Accountancy I,6,10,5,4,...,3,0,1,0,0,0,0,1,0,"Sumbada, Jason"
19,2020,Spring,2020-sp,ACCY,201,Accounting and Accountancy I,8,7,3,7,...,0,2,6,1,0,1,0,0,0,None
20,2020,Spring,2020-sp,ACCY,201,Accounting and Accountancy I,5,9,3,1,...,2,3,2,0,0,1,0,0,0,None
21,2020,Spring,2020-sp,ACCY,201,Accounting and Accountancy I,3,15,3,3,...,3,3,2,0,0,0,0,1,0,None
22,2020,Spring,2020-sp,ACCY,201,Accounting and Accountancy I,6,10,6,5,...,1,2,3,1,0,0,0,0,0,None
23,2020,Spring,2020-sp,ACCY,201,Accounting and Accountancy I,6,9,5,4,...,2,4,1,0,0,1,0,1,0,None
24,2020,Spring,2020-sp,ACCY,201,Accounting and Accountancy I,3,11,7,5,...,2,3,1,0,0,0,0,1,0,None
25,2020,Spring,2020-sp,ACCY,201,Accounting and Accountancy I,7,8,10,7,...,3,1,0,0,1,0,0,0,0,None
26,2020,Spring,2020-sp,ACCY,201,Accounting and Accountancy I,12,11,7,2,...,1,1,1,0,0,1,0,0,0,None
27,2020,Spring,2020-sp,ACCY,201,Accounting and Accountancy I,2,7,5,6,...,1,4,3,0,1,1,0,0,0,None
28,2020,Spring,2020-sp,ACCY,201,Accounting and Accountancy I,3,12,6,3,...,3,1,2,1,0,0,0,1,0,None
29,2020,Spring,2020-sp,ACCY,201,Accounting and Accountancy I,10,10,2,6,...,3,3,0,0,0,0,0,0,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53903,2010,Summer,2010-su,PS,394,Crisis Diplomacy,0,5,1,3,...,2,0,0,0,0,0,0,1,0,"Vasquez, John A"
53904,2010,Summer,2010-su,PSYC,201,Intro to Social Psych,8,9,2,3,...,4,1,0,0,0,0,0,0,0,"Ritter, Ryan S"
53905,2010,Summer,2010-su,PSYC,201,Intro to Social Psych,5,7,3,3,...,5,1,1,0,1,1,1,0,0,"Su, Rong"
53906,2010,Summer,2010-su,PSYC,224,Cognitive Psych,4,2,5,3,...,0,5,0,0,1,1,1,2,1,"Kittredge, Audrey K"
53907,2010,Summer,2010-su,PSYC,230,Perception & Sensory Processes,9,8,1,1,...,1,1,0,2,0,0,0,0,0,"Higgins, James"
53908,2010,Summer,2010-su,PSYC,363,Dev Psych Lab,1,9,1,1,...,3,0,3,0,1,0,0,2,0,"Elieff, Chryle"
53909,2010,Summer,2010-su,RLST,110,World Religions,0,9,4,4,...,1,0,2,2,0,2,0,0,0,"Evers, John R"
53910,2010,Summer,2010-su,RST,100,Society and Leisure,0,7,1,7,...,3,1,0,3,0,1,0,1,0,"Davitt, Brooke N"
53911,2010,Summer,2010-su,SCAN,251,Viking Mythology,1,4,7,5,...,3,1,0,0,0,0,0,0,0,"Schwink, Frederick W"
53912,2010,Summer,2010-su,SHS,579,Prof/Eth/Legal Issues AuD/SLP,0,16,6,8,...,0,0,0,0,0,0,0,0,0,"Echols-Chambers, Lou"
53913,2010,Summer,2010-su,SOC,200,Intro to Sociological Theory,2,5,4,3,...,5,0,2,0,0,0,0,0,0,"Barnett, Bernice M"
53914,2010,Summer,2010-su,SOC,350,Technology and Society,1,25,0,0,...,0,0,0,0,0,0,0,1,0,"Shoffstall, Grant W"
53915,2010,Summer,2010-su,SOC,380,Social Research Methods,1,12,4,5,...,2,0,0,0,0,0,0,1,0,"Niehans, Keri M"
53916,2010,Summer,2010-su,SOCW,400,Generalist SW Practice Methods,0,6,6,5,...,0,0,0,0,0,0,0,0,0,"Bragg, Mary"
53917,2010,Summer,2010-su,SOCW,400,Generalist SW Practice Methods,4,12,8,1,...,0,0,0,0,0,0,0,0,0,"Johnson, Jill L"
53918,2010,Summer,2010-su,SOCW,400,Generalist SW Practice Methods,0,7,12,2,...,0,0,0,0,0,0,0,0,0,"Hampton-Campbel, Sharva Y"
53919,2010,Summer,2010-su,SOCW,410,Social Welfare Pol and Svcs,14,8,2,3,...,0,0,0,0,0,0,0,0,0,"Hack-Ritzo, Samantha M"
53920,2010,Summer,2010-su,SOCW,501,SW Practice with Groups,0,15,4,1,...,1,0,0,0,0,0,0,0,0,"Lindsey, Brenda C"
53921,2010,Summer,2010-su,SOCW,525,Supervision/Staff Development,0,11,7,6,...,0,0,0,0,0,0,0,0,0,"Ward, Thomas"
53922,2010,Summer,2010-su,SOCW,531,Practice in Org Settings,0,20,0,0,...,0,0,3,0,0,0,0,0,0,"Wilson Smith, Carol J"
53923,2010,Summer,2010-su,SOCW,531,Practice in Org Settings,0,23,0,0,...,0,0,0,0,0,0,0,0,0,"Fessler, Sherrie M"
53924,2010,Summer,2010-su,STAT,100,Statistics,5,4,0,1,...,0,4,3,1,0,3,1,0,1,"Bawawana, Bavwidinsi"
53925,2010,Summer,2010-su,STAT,100,Statistics,1,13,3,3,...,1,1,2,2,3,1,1,1,0,"Hirtz, Nathaniel R"
53926,2010,Summer,2010-su,STAT,100,Statistics,0,14,3,1,...,0,0,3,0,0,1,0,3,1,"Dalpiaz, David M"
53927,2010,Summer,2010-su,STAT,400,Statistics and Probability I,4,15,7,2,...,4,1,2,2,0,1,0,3,1,"Monrad, Ditlev"
53928,2010,Summer,2010-su,STAT,410,Statistics and Probability II,5,10,2,2,...,1,0,1,3,0,0,0,2,1,"Stepanov, Alexei G"
53929,2010,Summer,2010-su,STAT,440,Statistical Data Management,4,12,8,1,...,0,0,0,0,0,0,0,0,0,"Unger, David"
53930,2010,Summer,2010-su,TAM,212,Introductory Dynamics,0,1,3,2,...,7,5,1,1,0,2,0,1,0,"Morgan, William T"
53931,2010,Summer,2010-su,TAM,251,Introductory Solid Mechanics,1,2,2,1,...,0,3,3,2,0,0,1,1,0,"Ott-Monsivais, Stephanie"
53932,2010,Summer,2010-su,TAM,335,Introductory Fluid Mechanics,5,8,9,4,...,1,0,4,0,0,1,0,2,0,"Keane, Richard D"

### `GROUP BY`
This tells SQL to limit the results only to a specific group, which can be configured. These make more sense with examples, so we'll go into some here.

The below piece of code first groups all of the subjects together (puts all rows with Subject as `AAS` as one row, all rows with Subject as `STAT` as one row, etc.) and then calculates some aggregating function, like `SUM()` in this case.

Intuitively, this query will sum up the values of `A+` (which in this case is the number of students who got an A+) for every Subject, then show you the Subject and the sum of A+'s as two columns.

[W3 Schools tutorial](https://www.w3schools.com/sql/sql_groupby.asp)

In [6]:
query = """
        SELECT Subject, SUM(`A+`)
        FROM gpa
        GROUP BY Subject;
        """
run_query(query)

    Subject  SUM(`A+`)
0       AAS        771
1       ABE        315
2      ACCY       7416
3       ACE       3523
4      ACES        889
5       ADV       2661
6        AE       1658
7      AFRO        379
8      AFST         66
9      AGCM         50
10     AGED       1077
11      AHS        144
12      AIS        226
13     ANSC       4310
14     ANTH       6374
15     ARAB        325
16     ARCH       2298
17      ART        303
18     ARTD        522
19     ARTE        150
20     ARTF        167
21     ARTH        167
22     ARTS         23
23     ASRM        200
24     ASTR       2285
25     ATMS       9171
26      AVI         30
27     BADM      17632
28     BCOG          0
29      BCS         78
..      ...        ...
133    RHET        387
134    RLST        916
135    RSOC          0
136     RST       4154
137    RUSS         11
138    SAME          2
139     SBC        254
140    SCAN        140
141     SCR         28
142      SE        464
143     SHS       3030
144    SLAV          2
145    SLCL         21
146     SOC       1923
147    SOCW       2390
148    SPAN       1106
149    SPED       1086
150    STAT      10381
151    SWAH         24
152     TAM       2012
153      TE        619
154    THEA      10436
155    TRST         33
156     TSM        396
157     UKR          5
158      UP       1063
159      VB          0
160     VCM        302
161      VM          0
162    YDSH         40

[163 rows x 2 columns]

### `ORDER BY`
This command, as the command name suggests, orders the results by a column. In the query below, we sort the rows by the column `A+` in DESCending order (as opposed to ASCending order).

Intuitively, this command sorts the rows by the number of students who received an A+.

In [7]:
query = """
        SELECT Subject, Number, `Course Title`, `A+`
        FROM gpa
        ORDER BY `A+` DESC;
        """
run_query(query)

      Subject  Number                    Course Title   A+
0        ECON     102        Microeconomic Principles  597
1        ECON     102        Microeconomic Principles  541
2        ECON     102        Microeconomic Principles  524
3        CHLH     243              Drug Use and Abuse  501
4        ECON     102        Microeconomic Principles  475
5        CHLH     243              Drug Use and Abuse  473
6        ATMS     120    Severe and Hazardous Weather  454
7         KIN     247       Intro to Sport Psychology  453
8        ECON     102        Microeconomic Principles  450
9        ECON     102        Microeconomic Principles  442
10        KIN     249          Sport & Modern Society  441
11       ATMS     120    Severe and Hazardous Weather  440
12       ECON     102        Microeconomic Principles  439
13         CS     101    Intro Computing: Engrg & Sci  439
14       ANTH     103      Anthro in a Changing World  438
15        KIN     249          Sport & Modern Society  436
16       ATMS     120    Severe and Hazardous Weather  420
17       CHLH     243              Drug Use and Abuse  419
18       ATMS     120    Severe and Hazardous Weather  415
19        KIN     249          Sport & Modern Society  414
20        MBA     562   Intro to Bus Analyt: CommData  408
21        KIN     249          Sport & Modern Society  400
22       ECON     529     Macroeconomics for Business  400
23       CHLH     243              Drug Use and Abuse  394
24       CHEM     103         General Chemistry Lab I  393
25       ATMS     120    Severe and Hazardous Weather  391
26       CHEM     105        General Chemistry Lab II  381
27       CHLH     243              Drug Use and Abuse  380
28       ATMS     120    Severe and Hazardous Weather  380
29       CHLH     243              Drug Use and Abuse  375
...       ...     ...                             ...  ...
53903     HRE     401   Training in Business/Industry    0
53904     HRE     531     Quality Process Improvement    0
53905     KIN     240    Soc & Psych of Phys Activity    0
53906      IS     501             Info Org and Access    0
53907      IS     502      Libraries Info and Society    0
53908      IS     502      Libraries Info and Society    0
53909      IS     502      Libraries Info and Society    0
53910    MATH     285    Intro Differential Equations    0
53911     MCB     250              Molecular Genetics    0
53912     MCB     300                    Microbiology    0
53913     MCB     334        Functional Human Anatomy    0
53914     MCB     334        Functional Human Anatomy    0
53915     MCB     334        Functional Human Anatomy    0
53916     MUS     521     Hist Studies in 20thC Music    0
53917    NRES     499      Ecology of Migratory Birds    0
53918      PS     101           Intro to US Gov & Pol    0
53919      PS     220          Intro to Public Policy    0
53920      PS     321     Principles of Public Policy    0
53921      PS     394                Crisis Diplomacy    0
53922    RLST     110                 World Religions    0
53923     RST     100             Society and Leisure    0
53924     SHS     579   Prof/Eth/Legal Issues AuD/SLP    0
53925    SOCW     400  Generalist SW Practice Methods    0
53926    SOCW     400  Generalist SW Practice Methods    0
53927    SOCW     501         SW Practice with Groups    0
53928    SOCW     525   Supervision/Staff Development    0
53929    SOCW     531        Practice in Org Settings    0
53930    SOCW     531        Practice in Org Settings    0
53931    STAT     100                      Statistics    0
53932     TAM     212           Introductory Dynamics    0

[53933 rows x 4 columns]

### `HAVING`
This command is the same as the `WHERE` command except only for aggregate functions (such as `SUM`, `AVG`, `COUNT`).

The below query will grab all `Subjects` where the number of total `A+`'s given is greater than 100.

(Notice that we can't use `WHERE` here because we are using `GROUP BY` and the aggregate function `SUM`)

[W3 Schools tutorial](https://www.w3schools.com/sql/sql_having.asp)

In [8]:
query = """
        SELECT Subject, SUM(`A+`)
        FROM gpa
        GROUP BY Subject
        HAVING SUM(`A+`) > 100;
        """
run_query(query)

    Subject  SUM(`A+`)
0       AAS        771
1       ABE        315
2      ACCY       7416
3       ACE       3523
4      ACES        889
5       ADV       2661
6        AE       1658
7      AFRO        379
8      AGED       1077
9       AHS        144
10      AIS        226
11     ANSC       4310
12     ANTH       6374
13     ARAB        325
14     ARCH       2298
15      ART        303
16     ARTD        522
17     ARTE        150
18     ARTF        167
19     ARTH        167
20     ASRM        200
21     ASTR       2285
22     ATMS       9171
23     BADM      17632
24     BIOE       1385
25      BTW        259
26      BUS        818
27      CEE       2629
28     CHBE        668
29     CHEM      12197
..      ...        ...
87      MSE       1548
88      MUS       3860
89     MUSE        175
90     NPRE       1073
91     NRES       2185
92     PHIL        797
93     PHYS      13661
94       PS       2354
95      PSM        130
96     PSYC       7709
97     REHB        239
98      REL       1003
99     RHET        387
100    RLST        916
101     RST       4154
102     SBC        254
103    SCAN        140
104      SE        464
105     SHS       3030
106     SOC       1923
107    SOCW       2390
108    SPAN       1106
109    SPED       1086
110    STAT      10381
111     TAM       2012
112      TE        619
113    THEA      10436
114     TSM        396
115      UP       1063
116     VCM        302

[117 rows x 2 columns]

### `LIKE`
This command will try to match strings in a column based on patterns that you specify.

The query below will find all rows where the `Course Title` has the words `"Machine Learning"` somewhere within the string.

Note: you can specify whether to allow any length of string as a wildcard using `%` or only one character using `_`.

[W3 Schools tutorial](https://www.w3schools.com/sql/sql_like.asp)

In [9]:
# example using %
# there can be any number of characters before and after the words Machine Learning
query = """
        SELECT YearTerm, Subject, Number, `Course Title`
        FROM gpa
        WHERE `Course Title`
        LIKE '%Machine Learning%'
        """
run_query(query)

   YearTerm Subject  Number                    Course Title
0   2020-sp    ACCY     577    Machine Learning for Accting
1   2020-sp      CS     446                Machine Learning
2   2020-sp      CS     498        Applied Machine Learning
3   2020-sp      CS     498    Trustworthy Machine Learning
4   2020-sp    ECON     490  Applied Machine Learning: Econ
5   2020-sp    ECON     490  Applied Machine Learning: Econ
6   2019-fa      CS     446                Machine Learning
7   2019-fa      CS     598    Adversarial Machine Learning
8   2019-fa    ECON     490  Applied Machine Learning: Econ
9   2019-fa    ECON     490  Applied Machine Learning: Econ
10  2019-fa     FIN     580                Machine Learning
11  2019-fa     FIN     580                Machine Learning
12  2019-fa      IE     598     Machine Learning in Fin Lab
13  2019-sp      CS     446                Machine Learning
14  2019-sp      CS     446                Machine Learning
15  2019-sp      CS     498        Applied Machine Learning
16  2019-sp      CS     498        Applied Machine Learning
17  2019-sp    ECON     490  Applied Machine Learning: Econ
18  2018-fa      CS     446                Machine Learning
19  2018-fa      CS     498        Applied Machine Learning
20  2018-fa      CS     498        Applied Machine Learning
21  2018-fa      CS     598    Adversarial Machine Learning
22  2018-fa      IE     598     Machine Learning in Fin Lab
23  2018-sp      CS     446                Machine Learning
24  2018-sp      CS     446                Machine Learning
25  2018-sp      CS     498        Applied Machine Learning
26  2018-sp      CS     498        Applied Machine Learning
27  2018-sp      CS     498        Applied Machine Learning
28  2018-sp      CS     546         Machine Learning in NLP
29  2017-fa      CS     446                Machine Learning
30  2017-fa      CS     598         Machine Learning Theory
31  2017-sp      CS     446                Machine Learning
32  2017-sp      CS     498        Applied Machine Learning
33  2017-sp      CS     498        Applied Machine Learning
34  2016-fa      CS     446                Machine Learning
35  2016-sp      CS     498        Applied Machine Learning
36  2016-sp      CS     546         Machine Learning in NLP
37  2015-fa      CS     446                Machine Learning
38  2015-sp      CS     446                Machine Learning
39  2014-sp      CS     546         Machine Learning in NLP
40  2013-fa      CS     446                Machine Learning
41  2012-fa      CS     446                Machine Learning
42  2011-fa      CS     446                Machine Learning
43  2011-sp      CS     546         Machine Learning in NLP
44  2011-su      CS     446                Machine Learning
45  2010-fa      CS     446                Machine Learning

In [10]:
# example using _
# the first character can be anything, but the second character must be 'S'
query = """
        SELECT YearTerm, Subject, Number, `Course Title`
        FROM gpa
        WHERE Subject
        LIKE '_S'
        """
run_query(query)

     YearTerm Subject  Number                    Course Title
0     2020-sp      CS     101    Intro Computing: Engrg & Sci
1     2020-sp      CS     105       Intro Computing: Non-Tech
2     2020-sp      CS     125       Intro to Computer Science
3     2020-sp      CS     126          Software Design Studio
4     2020-sp      CS     126          Software Design Studio
5     2020-sp      CS     199                 Python for Data
6     2020-sp      CS     210   Ethical & Professional Issues
7     2020-sp      CS     233           Computer Architecture
8     2020-sp      CS     233           Computer Architecture
9     2020-sp      CS     242              Programming Studio
10    2020-sp      CS     357             Numerical Methods I
11    2020-sp      CS     357             Numerical Methods I
12    2020-sp      CS     361    Prob & Stat for Computer Sci
13    2020-sp      CS     411                Database Systems
14    2020-sp      CS     412     Introduction to Data Mining
15    2020-sp      CS     412     Introduction to Data Mining
16    2020-sp      CS     418   Interactive Computer Graphics
17    2020-sp      CS     421   Progrmg Languages & Compilers
18    2020-sp      CS     421   Progrmg Languages & Compilers
19    2020-sp      CS     423        Operating Systems Design
20    2020-sp      CS     425             Distributed Systems
21    2020-sp      CS     433    Computer System Organization
22    2020-sp      CS     440         Artificial Intelligence
23    2020-sp      CS     445       Computational Photography
24    2020-sp      CS     446                Machine Learning
25    2020-sp      CS     450              Numerical Analysis
26    2020-sp      CS     461             Computer Security I
27    2020-sp      CS     463            Computer Security II
28    2020-sp      CS     466  Introduction to Bioinformatics
29    2020-sp      CS     477   Formal Software Devel Methods
...       ...     ...     ...                             ...
3243  2010-sp      PS     355                 Democratization
3244  2010-sp      PS     356   Comparative Political Economy
3245  2010-sp      PS     357                 Ethnic Conflict
3246  2010-sp      PS     377       Topics Contemp Pol Theory
3247  2010-sp      PS     386               International Law
3248  2010-sp      PS     395      International Organization
3249  2010-sp      PS     410      Neighborhoods and Politics
3250  2010-sp      PS     499     Special Topics: Immigration
3251  2010-sp      PS     499    Special Topics: Human Rights
3252  2010-sp      PS     499   Intl Diplomacy & Negotiations
3253  2010-su      CS     101    Intro Computing: Engrg & Sci
3254  2010-su      CS     225                 Data Structures
3255  2010-su      CS     373           Theory of Computation
3256  2010-su      CS     421   Progrmg Languages & Compilers
3257  2010-su      CS     598   Object-Oriented Prog & Design
3258  2010-su      IS     458  Instruction and Assistance Sys
3259  2010-su      IS     501             Info Org and Access
3260  2010-su      IS     502      Libraries Info and Society
3261  2010-su      IS     502      Libraries Info and Society
3262  2010-su      IS     502      Libraries Info and Society
3263  2010-su      IS     504     Reference and Info Services
3264  2010-su      IS     590   Web Design Construct Organizs
3265  2010-su      PS     101           Intro to US Gov & Pol
3266  2010-su      PS     220          Intro to Public Policy
3267  2010-su      PS     240          Intro to Comp Politics
3268  2010-su      PS     280         Intro to Intl Relations
3269  2010-su      PS     301           The US Constitution I
3270  2010-su      PS     321     Principles of Public Policy
3271  2010-su      PS     386               International Law
3272  2010-su      PS     394                Crisis Diplomacy

[3273 rows x 4 columns]

# Practice!
Now here's a chance for you to practice!

In [11]:
#@title Open this for hints (double click me)

# Close this cell by double clicking on the right hand side

# Hint 1: You can do this by just getting all the rows of the dataset and
#   scrolling to the bottom, if you like

# Hint 2: Use the WHERE query (look back at the demo)

# Hint 3: GROUP BY might come in handy...
#   Also look up the list of all aggregate functions you can run on a group:
#   'sqlite3 aggregate functions' on Google should help

# Hint 4: Figure out which column contains the value you want, and look back at
#   the list of queries from above to see if one of them was similar to what
#   we want here.
#   Also, keep an eye out for what we have to do if a column name contains spaces

# Hint 5: GROUP BY... this should be similar to some of the above queries

# Hint 6: The aggregate function COUNT could come in handy here.
#   If you want to find the number of unique instructors, DISTINCT is a keyword
#   that you can use:
#     https://www.w3resource.com/sql/aggregate-functions/count-with-distinct.php

# Hint 7: How can you get the total number of students in a class?

# Hint 8: You can use arithmetic operations in SQL (at least the SQL we're using,
#   SQLite3)
#   Some helpful reading: https://www.w3resource.com/sqlite/arithmetic-operators.php#:~:text=There%20are%20four%20type%20of,multiplication(*)%20and%20division(%2F).&text=Expression%20made%20up%20of%20a,values%20or%20perform%20arithmetic%20calculations.
#   Extra reading: https://www.w3schools.com/sql/sql_operators.asp

# Hint 9:

In [12]:
# Problem 1: Find the last date that is available in the table 'uber'
query = """
        SELECT date
        FROM uber;
        """
run_query(query)

# 02/28/2015

          date
0     1/1/2015
1     1/1/2015
2     1/1/2015
3     1/1/2015
4     1/1/2015
5     1/1/2015
6     1/2/2015
7     1/2/2015
8     1/2/2015
9     1/2/2015
10    1/2/2015
11    1/2/2015
12    1/3/2015
13    1/3/2015
14    1/3/2015
15    1/3/2015
16    1/3/2015
17    1/3/2015
18    1/4/2015
19    1/4/2015
20    1/4/2015
21    1/4/2015
22    1/4/2015
23    1/4/2015
24    1/5/2015
25    1/5/2015
26    1/5/2015
27    1/5/2015
28    1/5/2015
29    1/5/2015
..         ...
324  2/24/2015
325  2/24/2015
326  2/24/2015
327  2/24/2015
328  2/24/2015
329  2/24/2015
330  2/25/2015
331  2/25/2015
332  2/25/2015
333  2/25/2015
334  2/25/2015
335  2/25/2015
336  2/26/2015
337  2/26/2015
338  2/26/2015
339  2/26/2015
340  2/26/2015
341  2/26/2015
342  2/27/2015
343  2/27/2015
344  2/27/2015
345  2/27/2015
346  2/27/2015
347  2/27/2015
348  2/28/2015
349  2/28/2015
350  2/28/2015
351  2/28/2015
352  2/28/2015
353  2/28/2015

[354 rows x 1 columns]

In [13]:
# Problem 2: Find the rows corresponding to the last date (from 1) in the table 'uber'
query = """
        SELECT *
        FROM uber
        WHERE date == '2/28/2015';
        """
run_query(query)

# Date should all be 2/28/2015

  dispatching_base_number       date  active_vehicles  trips
0                  B02598  2/28/2015              994  10319
1                  B02764  2/28/2015             3952  39812
2                  B02617  2/28/2015             1372  14022
3                  B02682  2/28/2015             1386  14472
4                  B02512  2/28/2015              230   1803
5                  B02765  2/28/2015              747   7753

In [14]:
# Problem 3: Find the dispatching base number with the most active vehicles in the table 'uber' (repeat for trips)
query = """
        SELECT date, active_vehicles
        FROM uber
        GROUP BY date
        ORDER BY active_vehicles DESC;
        """
run_query(query)

         date  active_vehicles
0   2/20/2015             4384
1   2/14/2015             4129
2   2/24/2015             3965
3    2/4/2015             3856
4   2/17/2015             3826
5   1/14/2015             3736
6   1/21/2015             3718
7   2/10/2015             3700
8   1/28/2015             3692
9   1/12/2015             3499
10   1/6/2015             3473
11   2/8/2015             3422
12  2/13/2015             1590
13  2/12/2015             1532
14   2/6/2015             1526
15   2/5/2015             1524
16  1/29/2015             1474
17  1/22/2015             1471
18   1/9/2015             1455
19  2/11/2015             1450
20  1/16/2015             1445
21   1/7/2015             1363
22   2/9/2015             1312
23  2/15/2015             1261
24   2/2/2015             1217
25  1/26/2015             1150
26  2/26/2015             1134
27  2/19/2015             1127
28  1/23/2015             1093
29  2/18/2015             1078
30  1/10/2015             1057
31  2/21/2015             1044
32   2/7/2015             1031
33  2/28/2015              994
34  1/17/2015              974
35  2/23/2015              966
36   2/1/2015              961
37  1/24/2015              945
38  1/20/2015              944
39  2/16/2015              934
40  1/19/2015              883
41  2/27/2015              786
42   1/2/2015              785
43  1/27/2015              600
44  1/31/2015              309
45   2/3/2015              299
46   1/8/2015              262
47  1/13/2015              258
48  1/30/2015              256
49  2/25/2015              246
50  1/15/2015              237
51  1/11/2015              220
52   1/3/2015              201
53  2/22/2015              199
54   1/5/2015              194
55   1/1/2015              190
56  1/25/2015              183
57  1/18/2015              177
58   1/4/2015              147

In [15]:
# Problem 4: Find a class you've taken on campus before in the table 'gpa'
# If you haven't taken a class before Fall 2019, then find a class you want to take!
query = """
        SELECT *
        FROM gpa
        WHERE `Course Title` == "Data Structures"
            AND YearTerm == "2019-fa";
        """
run_query(query)

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2019,Fall,2019-fa,CS,225,Data Structures,15,231,19,25,...,12,11,10,10,5,4,5,15,2,"Evans, Graham C"
1,2019,Fall,2019-fa,CS,225,Data Structures,9,236,29,18,...,7,12,10,7,4,6,5,12,0,"Evans, Graham C"

In [16]:
# Problem 5: Find the instructor with the highest number of A's given in the table 'gpa'
#   You can modify this for whatever grade you want to look at
query = """
        SELECT Subject, `Primary Instructor`, SUM(`A`)
        FROM gpa
        GROUP BY `Primary Instructor`
        ORDER BY SUM(`A`) DESC;
        """
run_query(query)

     Subject      Primary Instructor  SUM(`A`)
0       FSHN        Roach, Rebecca R      6097
1        SHS        Wachtel, Jayne M      5575
2       SPED        Bentz, Johnell L      5079
3        KIN         Sydnor, Synthia      4804
4       CHEM         Adams, Gretchen      4709
5        SOC       Clarke, Caitlin L      4345
6       ECON     DeBrock, Lawrence M      4311
7       STAT        Fireman, Ellen S      4082
8       ECON         Vazquez, Jose J      3962
9       CHLH   Rinaldi-Miles, Anna I      3937
10      HDFS           Brooks, Jan D      3779
11       LAS         Hoffman, Ruth A      3717
12      ATMS       Snodgrass, Eric R      3687
13      THEA    Morrissette, Jason W      3609
14      CHLH         Farner, Susan M      3516
15      FSHN            Bohn, Dawn M      3492
16       ADV          Hall, Steven R      3417
17       RST         Farr, Jeffrey R      3379
18      BADM         Wolters, Mark E      3250
19        ME     Philpott, Michael L      3226
20      CPSC            Rayburn, A L      3142
21      BADM               Love, E G      3047
22      CHLH       Notaro, Stephen J      2778
23      FSHN      Burkhalter, Toni M      2776
24      BADM     Shabbir, Muhammad S      2756
25      ANTH       Clancy, Kathryn B      2622
26        CS           Heeren, Cinda      2549
27      PSYC         Srull, Thomas K      2502
28      BADM          Noel, Hayden N      2480
29       ACE         Lo, Alexander C      2452
...      ...                     ...       ...
7960    SCAN        Stenport, Anna W         1
7961    ANTH  Symanski, Luis Claudio         1
7962      IE          Tursun, Umit D         1
7963     CMN     Van Tine, Rebecca E         1
7964     MUS           Wang, Fu-Tsun         1
7965     ACE           Wei, Min-Fang         1
7966    MATH         Yager, Derrek J         1
7967      PS          Zhang, Wenshuo         1
7968     AHS        Andrews, Krystal         0
7969     MUS     Cayari, Christopher         0
7970      LA  Champagne, Alexandre H         0
7971    BADM     Crosby, Elizabeth M         0
7972    MATH   DiPasquale, Michael R         0
7973    ARTH        Edwards, Emily K         0
7974    MATH          Eid, Abdulla J         0
7975     MCB      Ellis, Ez rhodes C         0
7976     MCB                Fu, Ting         0
7977    HIST        Hein, Rhiannon A         0
7978    MATH       Kalantar, Mehrdad         0
7979    EALC          Lou, Weng Heng         0
7980    SPAN          Lugo, Monica E         0
7981     MCB         Mahaseth, Tulip         0
7982    ARCH   Martinez Martin, Raul         0
7983     MCB         Mizzen, Craig A         0
7984      LA         O'Shea, Conor E         0
7985      CS        Pittman, Lance C         0
7986      ME        Pottker, Gustavo         0
7987    BADM      Sullivan, Ursula Y         0
7988     MCB           Thomas, Alvin         0
7989    GEOL          Zhang, Guimiao         0

[7990 rows x 3 columns]

In [17]:
# Problem 6: Find the department with the most number of instructors in the table 'gpa'
query = """
        SELECT Subject, COUNT(DISTINCT `Primary Instructor`)
        FROM gpa
        GROUP BY Subject
        ORDER BY COUNT(DISTINCT `Primary Instructor`) DESC;
        """
run_query(query)

    Subject  COUNT(DISTINCT `Primary Instructor`)
0      MATH                                   358
1      CHEM                                   315
2      ACCY                                   293
3      ECON                                   286
4      BADM                                   263
5      PSYC                                   261
6       ECE                                   251
7      ENGL                                   231
8       CMN                                   225
9      HIST                                   217
10       CS                                   196
11      MCB                                   182
12      KIN                                   149
13      FIN                                   147
14       PS                                   139
15      MUS                                   136
16     SOCW                                   131
17       CI                                   130
18     CHLH                                   127
19       ME                                   125
20       IS                                   124
21     STAT                                   122
22      LAW                                   121
23     RHET                                   119
24      CEE                                   118
25      SOC                                   107
26      ACE                                   106
27       GS                                   102
28     PHIL                                   101
29     PHYS                                   100
..      ...                                   ...
133    ARTE                                     4
134     ESL                                     4
135    EURO                                     4
136    RUSS                                     4
137    TRST                                     4
138      VB                                     4
139    ENSU                                     3
140    MILS                                     3
141    MUSE                                     3
142      NS                                     3
143    PORT                                     3
144    AFST                                     2
145     BCS                                     2
146    BIOP                                     2
147      CB                                     2
148    CHIN                                     2
149    GRKM                                     2
150     PSM                                     2
151    SAME                                     2
152    SLAV                                     2
153    SLCL                                     2
154     UKR                                     2
155    BCOG                                     1
156    ENVS                                     1
157    HNDI                                     1
158      JS                                     1
159     POL                                     1
160    REES                                     1
161    RSOC                                     1
162     SCR                                     1

[163 rows x 2 columns]

In [18]:
# Problem 7: Find the class with the most number of people in the table 'gpa'
query = """
        SELECT Subject, Number, `Course Title`,
            (`A+` + A + `A-` + `B+` + B + `B-` + `C+` + C + `C-` + `D+` + D + `D-` + F + W) as Students
        FROM gpa
        ORDER BY Students DESC;
        """
run_query(query)

      Subject  Number                    Course Title  Students
0        CHEM     103         General Chemistry Lab I      1834
1        CHEM     103         General Chemistry Lab I      1700
2        CHEM     105        General Chemistry Lab II      1009
3        CHEM     103         General Chemistry Lab I       960
4        CHEM     103         General Chemistry Lab I       951
5        CHEM     105        General Chemistry Lab II       942
6        BADM     508            Leadership and Teams       936
7        ECON     528     Microeconomics for Business       900
8        ECON     102        Microeconomic Principles       887
9         MCB     244    Human Anatomy & Physiology I       883
10        RST     242     Nature and American Culture       879
11        MBA     552     Fostering Creative Thinking       871
12        MCB     244    Human Anatomy & Physiology I       871
13       ECON     102        Microeconomic Principles       862
14       ECON     102        Microeconomic Principles       859
15       BADM     508            Leadership and Teams       854
16       ECON     102        Microeconomic Principles       842
17       BADM     572    Stat for Mgt Decision Making       834
18       ECON     102        Microeconomic Principles       829
19       ECON     102        Microeconomic Principles       813
20        MCB     246   Human Anatomy & Physiology II       807
21        MBA     551            Strategic Innovation       801
22       BADM     572    Stat for Mgt Decision Making       795
23       BADM     509          Managing Organizations       794
24       ECON     102        Microeconomic Principles       790
25        MCB     244    Human Anatomy & Physiology I       790
26       ECON     529     Macroeconomics for Business       780
27       ECON     528     Microeconomics for Business       764
28        FIN     580        Corporate Finance I & II       763
29       BADM     544            Strategic Management       761
...       ...     ...                             ...       ...
53903    SPAN     103            Intermediate Spanish        21
53904    SPAN     103            Intermediate Spanish        21
53905    SPAN     103            Intermediate Spanish        21
53906    SPAN     103            Intermediate Spanish        21
53907    SPAN     103            Intermediate Spanish        21
53908    SPAN     122    Intensive Elementary Spanish        21
53909    SPAN     122    Intensive Elementary Spanish        21
53910    SPAN     122    Intensive Elementary Spanish        21
53911    SPAN     141        Intro to Spanish Grammar        21
53912    SPAN     204     Practical Review of Spanish        21
53913    SPAN     204     Practical Review of Spanish        21
53914    SPAN     305        The Structure of Spanish        21
53915    SPED     312          Intro to Ed Technology        21
53916    SPED     317   Characteristics & Eligibility        21
53917      UP     494     Planning Local Food Systems        21
53918    ACCY     515  Auditing & Assurance Standards        21
53919     BTW     250             Principles Bus Comm        21
53920    CHLH     206                 Human Sexuality        21
53921      CS     101    Intro Computing: Engrg & Sci        21
53922      CS     225                 Data Structures        21
53923     ECE     410     Digital Signal Processing I        21
53924    ECON     103        Macroeconomic Principles        21
53925    ECON     103        Macroeconomic Principles        21
53926    ECON     576    Time Series Analysis in Econ        21
53927     EPS     415  Technology &Educational Reform        21
53928    HIST     171                 US Hist to 1877        21
53929      PS     394                Crisis Diplomacy        21
53930    SOCW     400  Generalist SW Practice Methods        21
53931    SOCW     501         SW Practice with Groups        21
53932     TAM     251    Introductory Solid Mechanics        21

[53933 rows x 4 columns]

In [19]:
# Problem 8: Find a GPA for each class in the table 'gpa'
#   Additional problem: now find the class with the highest GPA
query = """
        SELECT Subject, Number, `Course Title`,
            (`A+` * 4 + A * 4 + `A-` * 3.67 + `B+` * 3.33 + B * 3 + `B-` * 2.67 + `C+` * 2.33 + C * 2 + `C-` * 1.67 + `D+` * 1.33 + D * 1 + `D-` * 0.67 + F * 0 + W * 0) / 
                (`A+` + A + `A-` + `B+` + B + `B-` + `C+` + C + `C-` + `D+` + D + `D-` + F + W) as GPA
        FROM gpa
        ORDER BY GPA DESC;
        """
run_query(query)

      Subject  Number                    Course Title       GPA
0          IS     532    Theory & Pract Data Cleaning  3.995350
1        ACCY     398       Practical Problems in Atg  3.992908
2        EPSY     490  Prep for Recruitment Counselor  3.992024
3          ME     199      Automotive Design Projects  3.991667
4        ANSC     103       Working With Farm Animals  3.991625
5        ANSC     103       Working With Farm Animals  3.991299
6         MUS     273                 Marching Illini  3.990354
7          GS     101       Exploring General Studies  3.990000
8         FIN     447         Real Estate Development  3.989692
9        BADM     566         Supply Chain Management  3.988448
10       EPSY     490  Prep for Recruitment Counselor  3.987654
11       ACCY     398       Practical Problems in Atg  3.987348
12       SPED     405     Gen Educator's Role in SPED  3.986863
13       ANSC     103       Working With Farm Animals  3.986486
14         CI     473           Disciplinary Literacy  3.986289
15       CHLH     380       Orientation to Internship  3.985966
16        MUS     274                 Basketball Band  3.985612
17        MUS     250                  Illini Strings  3.985294
18        MUS     262               Women's Glee Club  3.985294
19        MSE     183   Freshman Materials Laboratory  3.985075
20       BADM     420   Advanced Marketing Management  3.984615
21       BADM     261       Technology & Mgmt Seminar  3.984127
22         CI     473       Literacy in Content Areas  3.983871
23       PSYC     506           Statistical Methods I  3.983659
24       ACCY     518       Financial Statement Fraud  3.983659
25       EALC     365     Contemporary Korean Society  3.983659
26        MUS     250                  Illini Strings  3.983607
27       BADM     261       Technology & Mgmt Seminar  3.983607
28        MUS     262               Women's Glee Club  3.983333
29       BIOE     303     Quantitative Physiology Lab  3.983250
...       ...     ...                             ...       ...
53903     TAM     251    Introductory Solid Mechanics  1.657157
53904     MCB     245      Human Anat & Physiol Lab I  1.654231
53905     MCB     245      Human Anat & Physiol Lab I  1.652174
53906    MATH     181            A Mathematical World  1.651739
53907    MATH     115        Preparation for Calculus  1.619296
53908     LER     110      Labor and Social Movements  1.614400
53909     MCB     245      Human Anat & Physiol Lab I  1.614000
53910     LER     100   Introduction to Labor Studies  1.605185
53911     LER     110      Labor and Social Movements  1.602581
53912    MATH     115        Preparation for Calculus  1.596900
53913     LER     100   Introduction to Labor Studies  1.594783
53914     LER     110      Labor and Social Movements  1.591935
53915    MACS     356   Sex & Gender in Popular Media  1.590000
53916     MCB     245      Human Anat & Physiol Lab I  1.586800
53917      IE     300                Analysis of Data  1.578228
53918    ENGL     274           Contemporary Classics  1.576364
53919    CHEM     101          Introductory Chemistry  1.518345
53920     LLS     296   Bilingual US Latina/o Culture  1.512500
53921     MCB     245      Human Anat & Physiol Lab I  1.506296
53922     LER     100   Introduction to Labor Studies  1.500000
53923    CHEM     102             General Chemistry I  1.494655
53924     LER     100   Introduction to Labor Studies  1.491905
53925     MCB     245      Human Anat & Physiol Lab I  1.458750
53926     LER     120     Contemporary Labor Problems  1.427600
53927    MATH     220                        Calculus  1.425172
53928     LER     120     Contemporary Labor Problems  1.389167
53929     LER     120     Contemporary Labor Problems  1.354839
53930     LER     100   Introduction to Labor Studies  1.319583
53931    MATH       2            Introductory Algebra  1.304412
53932     LER     120     Contemporary Labor Problems  1.142857

[53933 rows x 4 columns]

In [20]:
# Problem 9: Find the department with the highest GPA in the table 'gpa'
#   Additional problem: semester with the higest GPA?
query = """
        SELECT Subject,
            AVG((`A+` * 4 + A * 4 + `A-` * 3.67 + `B+` * 3.33 + B * 3 + `B-` * 2.67 + `C+` * 2.33 + C * 2 + `C-` * 1.67 + `D+` * 1.33 + D * 1 + `D-` * 0.67 + F * 0 + W * 0) / 
                (`A+` + A + `A-` + `B+` + B + `B-` + `C+` + C + `C-` + `D+` + D + `D-` + F + W)) as AvgGPA
        FROM gpa
        GROUP BY Subject
        ORDER BY AvgGPA DESC;
        """
run_query(query)

    Subject    AvgGPA
0      EPOL  3.874012
1       CHP  3.847968
2       BUS  3.820710
3      REES  3.811346
4       PSM  3.802155
5        IS  3.797212
6       UKR  3.795334
7       EOL  3.787514
8        CB  3.784170
9       AHS  3.780631
10       CI  3.779132
11      KOR  3.767181
12     EDUC  3.763576
13      SBC  3.761338
14     SPED  3.749695
15       TE  3.746909
16     SLCL  3.746452
17      HRD  3.731459
18     IHLT  3.718986
19      EPS  3.709139
20      SCR  3.706699
21      POL  3.705142
22      EIL  3.705095
23      HRE  3.697327
24      ENG  3.692132
25     ARTE  3.692037
26     ACES  3.675798
27      FAA  3.675786
28     LEAD  3.662498
29     NUTR  3.658127
..      ...       ...
133      FR  3.241177
134    CHEM  3.238791
135    ARTH  3.235201
136    RLST  3.234204
137    SPAN  3.221138
138    NRES  3.212546
139     GWS  3.210604
140    PATH  3.206507
141    SWAH  3.204966
142    ITAL  3.203617
143    JAPN  3.176623
144     ECE  3.175361
145      PS  3.147225
146    ASTR  3.146310
147    PSYC  3.137485
148    RUSS  3.137136
149    PHIL  3.118917
150    GEOL  3.113176
151     TSM  3.108338
152     LER  3.097647
153     MCB  3.086559
154    CHBE  3.083706
155    ECON  3.053805
156    PHYS  3.042917
157    CHIN  3.008571
158     TAM  2.975075
159     LAT  2.941575
160    MATH  2.940368
161    SAME  2.933090
162      VM  2.833278

[163 rows x 2 columns]

In [21]:
query = """
        SELECT YearTerm,
            AVG((`A+` * 4 + A * 4 + `A-` * 3.67 + `B+` * 3.33 + B * 3 + `B-` * 2.67 + `C+` * 2.33 + C * 2 + `C-` * 1.67 + `D+` * 1.33 + D * 1 + `D-` * 0.67 + F * 0 + W * 0) / 
                (`A+` + A + `A-` + `B+` + B + `B-` + `C+` + C + `C-` + `D+` + D + `D-` + F + W)) as AvgGPA
        FROM gpa
        GROUP BY YearTerm
        ORDER BY AvgGPA DESC;
        """
run_query(query)

   YearTerm    AvgGPA
0   2016-su  3.617972
1   2020-sp  3.504296
2   2014-wi  3.459077
3   2015-wi  3.425431
4   2018-wi  3.421473
5   2019-wi  3.421473
6   2016-wi  3.406425
7   2020-su  3.393072
8   2019-fa  3.383999
9   2018-fa  3.378685
10  2017-fa  3.371785
11  2018-sp  3.361346
12  2015-fa  3.351160
13  2010-su  3.347156
14  2016-fa  3.338466
15  2019-sp  3.336034
16  2013-fa  3.333426
17  2017-wi  3.331557
18  2017-sp  3.330099
19  2018-su  3.324809
20  2016-sp  3.320151
21  2017-su  3.319226
22  2012-fa  3.317910
23  2014-fa  3.311751
24  2010-fa  3.309252
25  2011-fa  3.308753
26  2011-su  3.308753
27  2012-sp  3.294748
28  2012-su  3.294748
29  2015-sp  3.291815
30  2013-sp  3.291070
31  2010-sp  3.289863
32  2014-sp  3.278225
33  2011-sp  3.274284
34  2015-su  3.267460
35  2013-su  3.259080
36  2019-su  3.248721
37  2014-su  3.228955

In [22]:
# Problem 10: Explore this dataset to your heart's content! Tell us if you find
#   anything interesting!
# What we did: Is there a correlation between precipitation and the number of uber trips taken in NYC?

# weather data from NOAA for January 2015 in New York City Central 
noaa_url = "https://raw.githubusercontent.com/mx101/nyweatherdata/master/noaa_newyork_central_weather.csv"
noaa_data = pd.read_csv(noaa_url, index_col=0)
noaa_data.to_sql('noaa', conn)

query = """
        SELECT SUM(trips), date, precipitation, avg_temp
        FROM (noaa n NATURAL JOIN uber u) AS joined
        GROUP BY joined.date
        ORDER BY precipitation DESC
        LIMIT 5
        """
run_query(query)

# weirdly enough, no? Of course, we'd want to look at more data before coming even close to a conclusion

   SUM(trips)       date  precipitation  avg_temp
0       72473  1/18/2015           2.10      36.5
1       80709  1/24/2015           0.72      36.0
2       58449   1/3/2015           0.71      37.5
3       43395  1/26/2015           0.40      26.5
4       57646  1/12/2015           0.36      37.0


# More!

## `JOIN`
What if you have content in separate tables that you want to "join" together? For example, you have one table that contains weather data for each day of the year, while another table has the number of Uber rides that were requested that day. If we want to do some analysis on Uber ridership in relation to the weather, then we would need to "join" the two datasets via the date (find all rows where the specific date exists in both datasets and combine all the columns). This operation is called a "join", and there are many different types.

Read more about them here: [W3 Schools SQL Join](https://www.w3schools.com/sql/sql_join.asp)

## Inserting into a dataset
We only dealt with queries today, but a database has to have a way we can insert content into it. There are `INSERT` commands as well as `CREATE TABLE` commands to, as the commands say, insert content and create new tables. Using SQL through another programming language can allow us to create and maintain databases!

## SQL Injections
You may have heard of this before. This is a security concept, but the basic idea is that for websites that use SQL to ask for something to display, the website might not do a good enough job making sure that the input to their website is actually valid SQL. Nothing is stopping a person from writing just `;` as a query to their database, which could mess up the website's code.

Since this is talking about hacking, there is a necessary disclaimer here that we do not condone any illegal activity like stealing information or ruining websites. For this sake, there are small sandboxed environments where you can safely explore concepts such as this, called Capture the Flag (CTF) challenges.

[Medium Article explaining SQL injections](https://medium.com/@TurtledCoder/ctflearn-com-basic-injection-4dc5114e911c)

If you want to skip straight to the challenge: [CTFlearn](https://ctflearn.com/challenge/88)